.form-lancamento {
  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr auto;
  align-items: center;
  margin-top: 12px;
}

.form-lancamento input,
.form-lancamento select,
.form-lancamento button {
  padding: 6px 8px;
  font-size: 14px;
}

.form-lancamento input::placeholder {
  color: var(--muted);
}


@media (max-width: 900px){
  .form-lancamento{
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
  .form-lancamento button{
    grid-column: 1 / -1;
    justify-self: start;
  }
}
